@model VagaModel
@{
}

<form class="text-center" asp-controller="Vaga" asp-action="Excluir" method="post">
    <h1>Excluir vaga?</h1>
    <p class="fs-5">Tem certeza que deseja excluir a vaga de @Model.Titulo?</p>

    <button type="submit" class="btn btn-danger fs-5">Excluir</button>
    <a class="btn btn-secondary fs-5" asp-controller="Vaga" asp-action="Listar">Cancelar</a>
</form>
