@model LoginModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Esqueci minha senha";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alerta alerta-erro" role="alert">
        <button class="close-alert">X</button>
        <div>
            @TempData["MensagemErro"]
        </div>
    </div>
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alerta alerta-sucesso" role="alert">
        <button class="close-alert">X</button>
        <div>
            @TempData["MensagemSucesso"]
        </div>
    </div>
}

<div class="container-fluid d-flex flex-column align-items-center fs-5 mt-4">
    <form method="post" asp-controller="Login" asp-action="EsqueciMinhaSenha" class="px-5 pt-4">
        <h1 class="mb-4">Esqueci minha senha</h1>
        <div class="mb-3 w-100">
            <label class="form-label fs-5">Informe seu login:</label>
            <input type="text" class="form-control fs-5" asp-for="Login" required>
        </div>
        <button type="submit" class="btn btn-primary fs-5 w-100">Enviar</button>
        <a class="fs-5 w-100 text-light" asp-area="" asp-controller="Login" asp-action="Index">Voltar</a>
    </form>
</div>