@model LoginModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Esqueci minha senha";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alerta alerta-erro" role="alert">
        <button class="close-alert">X</button>
        <div>
            @TempData["MensagemErro"]
        </div>
    </div>
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alerta alerta-sucesso" role="alert">
        <button class="close-alert">X</button>
        <div>
            @TempData["MensagemSucesso"]
        </div>
    </div>
}

<div class="text-center">
    <h1>Esqueci minha senha</h1>
    <h3>Informe seu login para receber uma nova senha em seu email.</h3>
</div>

<form method="post" asp-controller="Login" asp-action="EsqueciMinhaSenha">
    <div class="mb-3">
        <label class="form-label">Informe seu login:</label>
        <input type="text" class="form-control w-25" asp-for="Login">
    </div>
    <button type="submit" class="btn btn-primary fs-5">Enviar</button>
    <a class="btn btn-secondary fs-5" asp-area="" asp-controller="Login" asp-action="Index">Voltar</a>
</form>