@model LoginModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
        <div>
            @TempData["MensagemErro"]
        </div>
    </div>
}

<div class="row align-items-center">
    <div class="col">
        <img src="~/images/animacaoLogin.gif" class="div-com-imagem" />
    </div>
    <div class="col">
        <h1 class="text-center">Login</h1>
        <form asp-controller="Login" asp-action="Entrar" method="post" class="d-flex justify-content-center flex-wrap">
            <div class="mb-3 w-75">
                <label for="login" class="form-label">Login:</label>
                <input type="email" class="form-control " asp-for="Login" required>
            </div>
            <div class="mb-3 w-75">
                <label for="senha" class="form-label">Senha:</label>
                <input type="password" class="form-control" asp-for="Senha" required>
            </div>
            <button type="submit" class="btn btn-primary mb-3 w-75">Entrar</button>
        </form>
        <div class="d-flex justify-content-center w-100">
            <p class="w-75">Não tem uma conta? <a asp-controller="Usuario" asp-action="Index">Cadastre-se</a> </p>
        </div>
    </div>
</div>