@model UsuarioModel
@{
    ViewData["Title"] = "Vagas.doc";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, @Model.Nome!</h1>
</div>

<div>
    <button class="btn btn-primary"><a asp-area="" asp-controller="Vaga" asp-action="Index" class="text-light text-decoration-none">Cadastrar vaga</a></button>
    <button class="btn btn-primary"><a asp-area="" asp-controller="Vaga" asp-action="Index" class="text-light text-decoration-none">Ver vagas</a></button>
</div>

