html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #212529;
    color: #fff;
}

.div-com-imagem {
    background-size: cover; /* Preenche a div mantendo a proporção */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Centraliza a imagem na div */
    width: 100%;
    height: 100%;
}

.carrosel-estilo{
    height: 40%;
}

.img-carousel-um {
    object-fit: cover;
    object-position: 0 40%;
    height: 250px;
}

.img-carousel-dois {
    object-fit: cover;
    object-position: 0 40%;
    height: 250px;
}

.txt-estilo {
    text-align: justify;
}

.img-jobs-home{
    width:60%;
}

.alerta {
    position: absolute;
    top: 25px;
    right: 30px;
    padding: 15px;
    color: white;
    margin-bottom: 15px;
    width: 25%;
}

.alerta-erro {
    background-color: #f44336;
}

.alerta-sucesso {
    background-color: #2EB886;
}

/* The close button */
.close-alert {
    background-color: transparent;
    border: none;
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    /* When moving the mouse over the close button */
    .close-alert:hover {
        color: black;
    }

/*.close-alert{
    position: absolute;
    right: -10px;
    top: -15px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}*/