@model UsuarioModel
@{
}

<form class="text-center" asp-controller="Usuario" asp-action="Excluir" method="post">
    <h1>Excluir conta?</h1>
    <p class="fs-5">@Model.Nome, tem certeza que deseja excluir sua conta?</p>

    <button type="submit" class="btn btn-danger fs-5">Excluir</button>
    <a class="btn btn-secondary fs-5" asp-controller="Home" asp-action="Index">Cancelar</a>
</form>